.footer-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}